{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://backend.baruaofficiel.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "DocumentType",
      "description": "Types de documents"
    },
    {
      "name": "Organism Type",
      "description": "Registre unifié : communes, mairies, ministères, services publics"
    },
    {
      "name": "Document",
      "description": "Documents administratifs"
    },
    {
      "name": "Authentification",
      "description": "Gestion des accès"
    },
    {
      "name": "User",
      "description": "Managements Users"
    },
    {
      "name": "ServiceDocumentaire",
      "description": "Tarification et délai par organisme pour un document"
    },
    {
      "name": "DemandeProcuration",
      "description": "Demandes de procuration de documents"
    },
    {
      "name": "Organism",
      "description": "Registre unifié : communes, mairies, ministères, services publics"
    }
  ],
  "paths": {
    "/api/v1/protected/users/{userId}": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Change Roles",
        "operationId": "changeAccount",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/users/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Detail user",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Modification utilisateur",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequestChange"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/reset/password": {
      "put": {
        "tags": [
          "Authentification"
        ],
        "summary": "Reset password ",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/recovery/user/{id}": {
      "put": {
        "tags": [
          "Authentification"
        ],
        "summary": "Recovery Account User",
        "operationId": "unlockAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/change/password": {
      "put": {
        "tags": [
          "Authentification"
        ],
        "summary": "Change password utilisateur",
        "operationId": "updateUser_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/certification/{userId}": {
      "put": {
        "tags": [
          "Authentification"
        ],
        "summary": "certification user",
        "operationId": "goCertification",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificationState"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/service/documentaires/{id}": {
      "put": {
        "tags": [
          "ServiceDocumentaire"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceDocumentaireRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/documents/{id}": {
      "put": {
        "tags": [
          "Document"
        ],
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Création utilisateur",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Connexion utilisateur",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuth"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/otp/validate": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "OTP validate account",
        "operationId": "validationAccountOTP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/otp/generate": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "OTP activation send code",
        "operationId": "generateKeyOTP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifiantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/token/refresh": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/demandes/procuration": {
      "post": {
        "tags": [
          "DemandeProcuration"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DemandeProcurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/service/documentaires": {
      "post": {
        "tags": [
          "ServiceDocumentaire"
        ],
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceDocumentaireRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/documents": {
      "post": {
        "tags": [
          "Document"
        ],
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/documents/types": {
      "post": {
        "tags": [
          "DocumentType"
        ],
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/service/documentaires": {
      "get": {
        "tags": [
          "ServiceDocumentaire"
        ],
        "operationId": "getAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ServiceDocumentaire"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/organism": {
      "get": {
        "tags": [
          "Organism"
        ],
        "operationId": "getAll_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganismDAO"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/organism/type": {
      "get": {
        "tags": [
          "Organism Type"
        ],
        "operationId": "getAll_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TypeOrganismEntity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/documents": {
      "get": {
        "tags": [
          "Document"
        ],
        "operationId": "getAll_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DocumentDAO"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/documents/types": {
      "get": {
        "tags": [
          "DocumentType"
        ],
        "operationId": "getAll_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DocumentType"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/accounts": {
      "get": {
        "tags": [
          "account-controller"
        ],
        "summary": "List of accounts",
        "operationId": "getAllAccountE",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccountDTO"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/accounts/type": {
      "get": {
        "tags": [
          "type-account-controller"
        ],
        "summary": "List Of TypeAccounts",
        "operationId": "getAllAccountByKey",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListCompactModelKeyByAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "List of users",
        "operationId": "getListUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/accounts/type": {
      "get": {
        "tags": [
          "type-account-controller"
        ],
        "summary": "List Of TypeAccounts",
        "operationId": "getAllTypeAccountE",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListTypeAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/private/users": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "getAllUserPrivate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/google": {
      "get": {
        "tags": [
          "Authentification"
        ],
        "operationId": "redirectToGoogle",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/users/delete/user": {
      "delete": {
        "tags": [
          "Authentification"
        ],
        "summary": "Delete Account User",
        "operationId": "lockAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PermissionUser": {
        "type": "object",
        "properties": {
          "organismId": {
            "type": "integer",
            "format": "int64"
          },
          "profileId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PermissionUserRequest": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionUser"
            }
          }
        }
      },
      "UserRequestChange": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "pseudo": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "city",
          "email",
          "firstName",
          "lastName",
          "phone",
          "pseudo"
        ]
      },
      "UserPassword": {
        "type": "object",
        "properties": {
          "newPassword": {
            "type": "string",
            "maxLength": 2147483647,
            "minLength": 6
          }
        },
        "required": [
          "newPassword"
        ]
      },
      "CertificationState": {
        "type": "object",
        "properties": {
          "state": {
            "type": "boolean"
          }
        },
        "required": [
          "state"
        ]
      },
      "ServiceDocumentaireRequest": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "integer",
            "format": "int64"
          },
          "organismId": {
            "type": "integer",
            "format": "int64"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "devise": {
            "type": "integer",
            "format": "int64"
          },
          "delayDayOpen": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "delayDayOpen",
          "devise",
          "documentId",
          "organismId",
          "price"
        ]
      },
      "DocumentRequest": {
        "type": "object",
        "properties": {
          "documentTypeId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        },
        "required": [
          "documentTypeId",
          "title"
        ]
      },
      "UserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "maxLength": 2147483647,
            "minLength": 6
          },
          "confirmPassword": {
            "type": "string"
          },
          "pseudo": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "city",
          "confirmPassword",
          "email",
          "firstName",
          "lastName",
          "password"
        ]
      },
      "UserAuth": {
        "type": "object",
        "properties": {
          "identifiant": {
            "type": "string",
            "maxLength": 2147483647,
            "minLength": 4
          },
          "password": {
            "type": "string",
            "maxLength": 2147483647,
            "minLength": 4
          }
        },
        "required": [
          "identifiant",
          "password"
        ]
      },
      "VerifyRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "identifier"
        ]
      },
      "IdentifiantRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          }
        },
        "required": [
          "identifier"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "DemandeProcurationRequest": {
        "type": "object",
        "properties": {
          "serviceDocumentaireId": {
            "type": "integer",
            "format": "int64"
          },
          "commentaire": {
            "type": "string"
          }
        },
        "required": [
          "serviceDocumentaireId"
        ]
      },
      "DocumentTypeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "ServiceDocumentaire": {
        "type": "object",
        "properties": {
          "serviceDocumentaireId": {
            "type": "integer",
            "format": "int64"
          },
          "documentId": {
            "type": "integer",
            "format": "int64"
          },
          "organismId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "deviseId": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "delayDayOpen": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "OrganismDAO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "city": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/TypeOrganism"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TypeOrganism": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "TypeOrganismEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "DocumentDAO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "title": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "DocumentType": {
        "type": "object",
        "properties": {
          "documentTypeId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "AccountDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "typeAccount": {
            "$ref": "#/components/schemas/TypeAccount"
          }
        }
      },
      "TypeAccount": {
        "type": "object",
        "properties": {
          "typeAccountId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "typeAccountId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseListCompactModelKeyByAccount": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactModelKeyByAccount"
            }
          }
        }
      },
      "CityEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "CompactModelCityByAccount": {
        "type": "object",
        "properties": {
          "city": {
            "$ref": "#/components/schemas/CityEntity"
          },
          "organisation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organism"
            }
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "CompactModelKeyByAccount": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/components/schemas/TypeOrganism"
          },
          "cityAccountOrganism": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompactModelCityByAccount"
            }
          }
        }
      },
      "Organism": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "typeId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseListTypeAccount": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeAccount"
            }
          }
        }
      },
      "ApiResponseListUserDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDto"
            }
          }
        }
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "premium": {
            "type": "boolean"
          },
          "certified": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
